//parameters of the blurfog container when the loading animation start
.blurfog{
            visibility: hidden;   
            position: fixed;
            top:0;
            bottom: 0;
            left:0;
            right: 0;
            width: 100%;
            height: 100%;
            background: white;
            opacity: 0;
            z-index: 1;
}