@import "./../utils/variables";

.heart-bloc{
    cursor: pointer;
    position: absolute;
    right: 70px;
    bottom: 60px;
    font-size: 35px;
    & > .empty-heart{
        position: absolute;
        opacity: 1;
        font-weight: 500;
        transition: all 0.5s ease-in-out 0.1s;
    }
    & > .full-heart{
        color: $secondary-color;
        position: absolute;
        opacity: 0;
        font-size: 40px;
        transition: all 0.5s ease-in-out;
        transform: scale(0.7);
        transform-origin: center;
    }
    &:hover{
        & > .empty-heart{
            opacity: 0;
        }
        & > .full-heart{
            opacity: 1;
            transform: scale(0.8) translate(-3px, -4px);   
        }
    }

}
