$dark-black: rgb(53, 53, 53);
$icon-color: #7e7e7e;
$darkgrey: rgb(234, 234, 234);
$grey: rgb(246, 246, 246);
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$gradient: linear-gradient(176deg, $secondary-color 10%, $primary-color 100%);
$tertiary_color: #99E2D0;
$shadow: 0px 7px 13px 4px rgb(0 0 0 / 5%), 0px 7px 18px -2px rgb(0 0 0 / 10%);
$breakpoints: (
    mobile-large: 385px,
    tablet-small: 599px,
    tablet-medium: 900px,
    tablet-940: 940px,
    desktop-1215: 1215px,
    desktop: 1500px
);

